body {
    background-color: rgb(52, 194, 170);
    font-family: sans-serif;
    font-size: 16px;
    text-align: center; 
  }
  
  header {
    background-color: cornflowerblue;
    color: #fff;
    padding: 20px;
  }
  
  h1 {
    font-size: 3em;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  input {
    width: 200px;
    padding: 10px;
    border: 1px solid #000;
  }
  
  button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  #explications {
    display: none;
  }